<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Full Cycle!</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <div class="max-w-md mx-auto">
    <h1 class="text-3xl font-bold mb-4">Full Cycle Rocks!</h1>
    <form action="/user" method="post">
      <div class="mb-4">
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name</label>
        <input type="text" id="name" name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Add User
        </button>
      </div>
    </form>
    <div class="mt-8">
      <h2 class="text-2xl font-bold mb-4">User List</h2>
      <ul>
        <% if (users.length == 0) { %>
          <li class="mb-2">No users found</li>
        <% } %>
        
        <% users.forEach(user => { %>        
          <li class="mb-2"><%= user.name %></li>
        <% }); %>
      </ul>
    </div>
  </div>
  

</body>
</html>